
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c9a663;
}


body {
	font-family: "Arial", sans-serif;
    direction: rtl;
}

/* Header Section */
.header {
    background-color: #2f5436;
    color: white;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.search-bar {
    padding: 5px;
}


/* big image Section */
.big-image {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
}

.website-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire section without distortion */
}

.logo {
    width: 100px;
    height: 100px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Optional shadow for readability */
}

.image-text h1 {
    font-size: 3em; /* Adjust size as needed */
    margin: 0;
}

.image-text p {
    font-size: 1.2em; /* Adjust size as needed */
    margin-top: 10px;
}


/* Icons Section */
.icons-section {
    padding: 20px;
	background-color: #2f5436;
    text-align: center;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.icon {
    
    padding: 15px;
    margin: 10px;
    flex: 1;
    max-width: 150px;
    text-align: center;
    color: #eaeaea;
    font-weight: 800;
}

.icon img {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px;
}

.icon2 img {
    width: 80px; 
    height: 80px;
    margin-bottom: 10px;
}

.icon3 img {
    width: 40px; 
    height: 40px;
    margin-bottom: 10px;
}

.icon p {
    margin-top: 5px;
    font-size: 16px;
}

/* News Section */
.news-section {
  margin: 20px 0;
  padding: 20px;
  background-color: #edcbcb;
}

.news-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.news-cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  background: url("transparent-placeholder.png") center/contain no-repeat;
}

.card p {
  font-size: 1rem;
  margin: 10px 0;
}

.card a {
  color: #4caf50;
  font-size: 0.9rem;
  text-decoration: none;
}

/* Button style */
.more-news {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #357a38;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;

    margin: 20px auto;
    display: block;
}




.more-news:hover {
  background-color: #2f5436;
}

/* Statistics Section */
.statistics-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  background-color: #fff;
  margin-top: 20px;
}

.stat {
  text-align: center;
  background-color: #c0f5b0;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 160px;
}

.stat h3 {
  font-size: 2.5rem;
  color: #355531;
  margin: 0;
}

.stat p {
  font-size: 1.5rem;
  margin: 5px 0;
}


/* General layout for sections  */
.about-container, .icons-container, .fields-container, .projects-grid, .news-grid {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    padding: 30px;
}

/* Specific section styles */
.about-card, .field, .project-card, .news-card {
    border: 1px solid #c9a663;
    padding: 15px;
    margin: 10px;
    flex: 1;
    max-width: 200px;
    text-align: center;
}

.fields-section{
background-color: #FBFAF7;	
}
/* Fields Section Heading */
.fields-section h2, .projects-section h2, .news-section h2 {
    text-align: center;
    padding: 20px 0;
}

.news-section{
background-color: #FBFAF7;	
}




/* Footer section */
.footer {
    background-color: #2f5436;
    color: white;
    padding: 20px;
    display:block;
    
    /* text-align: center; */
}

.footer input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    
}

.footer button {
    background-color: #c9a663;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;


}


.fast {
    
    margin-right: 150px;
    display:inline-block;
    margin-top: 10px;
   
   
  }
 
  .fast p{
    padding: 10px;
  }

  .fast a{
    text-decoration: none;
    color: #e6f603;
  }
  

 

 



/* Social media links in footer */
.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 3px;
    
}

.social-media {
    display: inline-flex;
    margin-right: 900px;

}


/* our news ********************************** */

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /*body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
  }*/
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .cardx {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .cardx__image {      
    width: 100%;
    height: auto;
  }
  
  .cardx__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .cardx:hover .cardx__overlay {
    transform: translateY(0);
  }
  
  .cardx__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .cardx__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .cardx__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .cardx:hover .cardx__header {
    transform: translateY(0);
  }
  
  .cardx__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .cardx__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .cardx__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .cardx__status {
    font-size: .8em;
    color: #706369;
  }
  
  .cardx__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #3a3739;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  } 
  /* #D7BDCA */





  /* staaaaaaaaaaaaaaaaaa */

  .wrapper {
    /* position: absolute; */
    width: 80vw;
    /* transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 1em;
    background-color: #a6d4b4;
    border-bottom: 10px solid #5d6007;
  }
  /* i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;

  } 
    span.text {
    color: #e0e0e0;
  */
  span.num {
    color: #124a1a;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #2f5a42;
    font-size: 1.3em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .container {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .container {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }



  /* new fooooter ********************* */



  .footer {
    position: relative;
    /* top: 50%;
    left: 50%;*/
    /* transform: translate(-50%, -50%);  */
    /* max-width: 1280px; */
    width: 100%;
    background: #2f5436;
    border-radius: 6px;
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .footer-col .links {
    margin-top: 20px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  
  .footer-col form {
    display: inline-flexbox;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color: #ccc;
  }
  
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    color: #2f5a42;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }

  .footer-col .icons img {
     height: 40px;
     width: 40px;
  }
  
  .footer-col .icons i {
    color: #afb6c7;
  }
  
  .footer-col .icons i:hover  {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
  
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
  
    .footer-col form {
      display: block;
    }
  
    .footer-col form :where(input, button) {
      width: 100%;
    }
  
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }
  
